.lpc {
  background-color: #e0454c;
  color: white;
}

.lpcheader {
  background-color: #ad0c13;
  color: white;
}

.cpc {
  background-color: #6d9aca;
  color: white;
}

.cpcheader {
  background-color: #376697;
  color: white;
}

.ndp {
  background-color: #f79c4c;
  color: white;
}

.ndpheader {
  background-color: #c56813;
  color: white;
}

.grn {
  background-color: #64b15d;
  color: white;
}

.grnheader {
  background-color: #2d7d25;
  color: white;
}

.ppc {
  background-color: #a767cc;
  color: white;
}

.ppcheader {
  background-color: #693199;
  color: white;
}

.bloc {
  background-color: #67c6cc;
  color: white;
}

.blocheader {
  background-color: #319399;
  color: white;
}
