#myTable button {
    width: 30px;
    height: 15px;
    font-size: 10px;
  }

  .map338 {
    position:absolute; 
    left:40%; top:0%;
    width: 60%; height: 100%;
  }

  #jurisTable {
    position:absolute; 
    left:72%; top:0%;
    width: 25%;
  }
