#myTable button {
  width: 90%;
  height: 60%;
  font-weight: bold;
  background-color: beige;
}

#myTable table {
  width: 30%;
  height: 20%;
  font-size: 24px;
}

#myTable td {
  width: 10%;
  height: 15%;
}

#myTable table, #myTable td, #jurisTable table, #jurisTable td, th {
  border: 3px solid black;
  border-collapse: collapse;
  text-align: center;
}

.map338 {
  position: absolute;
  left: 40%;
  top: 0%;
  width: 60%;
  height: 100%;
}

#jurisTable {
  position: absolute;
  left: 70%;
  top: 0%;
  width: 25%;
  font-size: 20px;
}
